body{
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}
.separator{
    border-bottom: solid #ea1c2c ;
}
#mainNavbar {
    /* background: #fde1dc; */
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#imgSection{
    margin: 0;
    padding: 0;
    background-image: url('imgs/wormCandy.jpg');
    background-size: cover;
    /* width: 100%; */
    height: 500px;
    display: flex;
    align-items:center;
}

#imgSection h1{
    color: white;
    font-weight: 100;
    font-size: 3rem;
    margin: 10rm auto auto auto;
}

#textSection{
    margin: 2em auto 2em auto;
}

#textSection h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 1.5rem;
}


#textSection p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.scrolled {
    background-color: rgb(222,192,222);
    transition: background-color 500ms;
}
